@{
    ViewBag.Title = "Lưu Viết Nam";
}
<h2>@ViewBag.Title.</h2>
<h3>Lưu</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:luunam990@gmail.com">luunam87654@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="mailto:luunam87654@gmail.com">luunam87654@gmail.com</a>
</address>